shared/log/unicorn.stderr.log
shared/log/unicorn.stdout.log
shared/pids/unicorn.pid
shared/sockets/unicorn.sock
coverage
public/resources.json
*.gem
*.rbc
.bundle
.config
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
spec/data
test/tmp
test/version_tmp
tmp
.DS_store
squash.failsafe.log
