<h2><%= title %></h2>
<table>
  <tr class="header">
    <th>Workflow Name</th>
    <th>Workflow Count</th>
    <th>Node Count</th>
  </tr>
  <% counts.each do |name, detail| %>
    <tr class="data">
      <td><%= name %></td>
      <td><%= detail[:workflow_type_count] %></td>
      <td><%= detail[:node_count] %></td>
   </tr>
 <% end %>
</table>
